html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter" !important;
	scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
	font-family: "Inter" !important;
}

button {
	font-weight: 100 !important;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #4a4a4a;
}

::-webkit-scrollbar-corner {
	background: transparent;
  }

::-webkit-scrollbar-thumb {
	background-color: #38b2ac;
	border-radius: 20px;
	border: 3px solid #285e61;
}
