html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter" !important;
	scrollbar-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
	font-family: "Inter" !important;
}

button {
	font-weight: 100 !important;
}
